<div class="basket-wrapper">
  <div class="top-section">
    <mat-form-field appearance="outline" class="search" >
      <mat-label>Поиск по товарам</mat-label>
      <input matInput [(ngModel)]="inputText" (input)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <p class="total">Общая стоимость товаров: ₽{{totalCost}}</p>
  </div>

  <div class="cards">
    <mat-card class="card" appearance="outlined" *ngFor="let item of filteredItems">
      <mat-card-header class="card__header">
        <mat-card-title class="card__title">{{item.name}}</mat-card-title>
      </mat-card-header>
      <img class="card__image" mat-card-image [src]="item.image ? item.image : 'images/noimage.jpg'" alt="photo of item">
      <div class="card__content">
        <mat-card-actions class="card__actions">
          <button mat-button class="card__button" type="button" (click)="decreaseCount(item)">-</button>
          <button mat-button class="card__button" type="button" (click)="increaseCount(item)">+</button>
        </mat-card-actions>
      </div>
      <span class="card__price">
       Общ. стоимость: ₽{{item.price * item.quantity}}
    </span>
      <span class="card__quantity">
       Кол-во: {{item.quantity}}
    </span>
    </mat-card>
  </div>
</div>
