<mat-toolbar class="header">
  <mat-toolbar-row>
    <div class="header__content-wrapper">

      <div class="header__title" routerLink="/">
        <span>Angular Store</span>
      </div>

      <span class="spacer"></span>

      <div class="header__links">
        <span class="header__text" routerLink="/home">Главная</span>
        <span class="header__text" routerLink="/about">О магазине</span>
        <mat-icon class="header__link" routerLink="/basket">shopping_cart</mat-icon>
        <span class="header__basket-icon-badge" *ngIf="basketLength > 0">{{ basketLength }}</span>
      </div>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
