<div class="about-store">
  <h1 class="about-store__title">О магазине</h1>
  <div class="about-store__content">
    <p>
      Добро пожаловать в интернет-магазин! Этот проект был создан с использованием Angular как тестовое задание. В процессе работы я познакомился с основами фреймворка, включая компоненты, директивы, сервисы, а также изучал способы управления состоянием приложения и взаимодействие между компонентами.
    </p>
    <p>
      Из-за того, что в процессе работы я брал информацию из разных источников, то понимаю, что на данный момент в проекте в некоторых местах может быть использован не самый современный синтаксис. Наверняка что-то можно было сделать лучше. В будущем планирую обновить архитектуру, например есть идея разделить текущий единый сервис на несколько более специализированных для улучшения структуры.
    </p>
    <p>
      Кроме того, рассматриваю возможность отказаться от используемой сейчас библиотеки JSON server и написать свою серверную часть в рамках изучения разработки бэкенда.
    </p>
    <p>
      Спасибо за посещение магазина! Проект будет развиваться и становиться лучше по мере моего обучения и работы над ним.
    </p>
  </div>
</div>

<app-feedback-form class="feedback-form"></app-feedback-form>
