<mat-card class="card" appearance="outlined">
  <mat-card-header class="card__header">
    <mat-card-title class="card__title">Shiba Inu</mat-card-title>
  </mat-card-header>
  <img class="card__image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <div class="card__content">
    <span class="card__price">
      1000 руб
    </span>

    <mat-card-actions class="card__actions">
      <button mat-button class="card__button">В корзину</button>
    </mat-card-actions>
  </div>
</mat-card>
