.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px
}

.card {
  width: 200px;
  margin: 20px 10px;

  &__content {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  &__image {
    padding: 10px;
    border-radius: 25px;
    height: 170px;
    object-fit: contain;
  }
}

.search {
  margin: 40px 10px 0px;
}
