<div class="cards">
  <mat-card class="card" appearance="outlined" *ngFor="let item of items">
    <mat-card-header class="card__header">
      <mat-card-title class="card__title">{{item.name}}</mat-card-title>
    </mat-card-header>
    <img class="card__image" mat-card-image [src]="item.image ? item.image : 'images/noimage.jpg'" alt="photo of item">
    <div class="card__content">
      <span class="card__price">
        ₽{{item.price}}
      </span>

      <mat-card-actions class="card__actions">
        <button mat-button class="card__button">В корзину</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>


