<mat-form-field appearance="outline" class="search">
  <mat-label>Поиск по товарам</mat-label>
  <input matInput [(ngModel)]="inputText" (input)="search()">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div class="cards">
  <mat-card class="card" appearance="outlined" *ngFor="let item of filteredItems">
    <mat-card-header class="card__header">
      <mat-card-title class="card__title">{{item.name}}</mat-card-title>
    </mat-card-header>
    <img class="card__image" mat-card-image [src]="item.image ? item.image : 'images/noimage.jpg'" alt="photo of item">
    <div class="card__content">
      <span class="card__price">
        ₽{{item.price}}
      </span>

      <mat-card-actions class="card__actions">
        <button mat-button class="card__button" (click)="addToBasket(item)"
          [disabled]="item.isInCart" type="button">
          {{ item.isInCart ? 'Добавлено' : 'В корзину' }}
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
